.wrap {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.childList {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
