.wrap {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.childList {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.positionButtonList {
  display: flex;
  gap: 10px;

  & > button {
    padding: 3px;
    cursor: pointer;
  }
}

.addSublistButton {
  padding: 3px;
  cursor: pointer;
}



